header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

.App {
  margin: 20px;
  display: grid;
  grid-template: 100px auto / 1fr 1fr;
  gap: 20px;
  grid-template-areas:  'header header'
                        'results playlist';
}

.results {
  grid-area: results;
  display: flex;
  justify-content: center;
}

.playlist {
  grid-area: playlist;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}